<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- DB DRIVER -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>

        <!-- DB URL -->
        <property name="hibernate.connection.url">jdbc:h2:./db/test</property>

        <!-- DEFAULT CREDS (for local development) -->
        <!--
        <property name="hibernate.connection.username">fox</property>
        <property name="hibernate.connection.password"></property>
        -->

        <!-- REPLACE WITH YOUR OWN -->
        <property name="hibernate.connection.username">YOUR_USERNAME</property>
        <property name="hibernate.connection.password">YOUR_PASSWORD</property>

        <!-- DIALECT -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- DEBUG -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- DO NOT AUTO CREATE TABLES -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

    </session-factory>
</hibernate-configuration>